.header{
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 10vh;
    background-color: #232322;
}

.header ul{
    list-style: none;
}

.header ul li{
    display: inline-block;
    padding: 15px;
}

.header ul li a{
    text-decoration: none;
    color: white
}