.playlist-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.addPlaylistinput{
    width: 200px;
    margin-top: 10px;
}

.list-box{
    width: 50%;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.playlist{
    font-size: 18px;
    font-weight: 500;
    font-variant: small-caps;
    border-bottom: 1px solid grey;
}